* {
    margin: 0;
    padding: 0;
}

.note_sec{
    width: 50%;
    margin-left: 0px;
}
body{
    background-color: aliceblue;
}
img {
    width: 60%;
    height: 50%;
}

sec{
    float: right;
}
.input_form p{
    height: 15px;
    width: auto;
    margin: 10px 0;
    font-size: 30px;
}

#predict button{
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    font-size: 30px;
}
.in {
    height: 30px;
    width: auto;
    margin: 20px 0;
    font-size: 30px;
}
*{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
    padding-top: 13px;
}
.right{
    float: right;
    padding-top: 7px;
}

main {
    margin: 10px;
}

.navig{
    width: 100%;
    height: 80px;
    background-color: lightskyblue;
}

.navig ul, li {
    display: inline-block;
    height: 100%;
}

.navig ul li a {
    line-height: 48px;
    display: inline-block;
    height: 100%;
    color: black;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.input_form{
    margin: auto;
    width: 250px;
}

.HI {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: 10;
}
.input_form_sec{
    float: right;
}